body {
  color: #17304a;
}
.ui-loader-header {
  display: none;
}
.bg-primary {
  background-color: #a9d3dd !important;
}
.btn-primary {
  background-color: #fff !important;
  border-color: #fff;
}
.btn-secondary {
  background-color: #3e78b2 !important;
  border-color: #3e78b2;
}
.text-primary {
  color: #3e78b2 !important;
}
.text-secondary {
  color: #828c9e;
}
#main-header {
  background-color: #a9d3dd;
}
.quote2 {
  display: none;
}
.card-size {
  width: 765px;
}
.overlap {
  margin-top: -3em !important;
}
.shadow {
  box-shadow: 0px 11px 21px 0p;
}
.card-size2 {
  max-width: 445px;
}
.about-txt {
  font-size: 16px;
  color: #828c9e;
  font-weight: lighter !important;
}
.carousel-size {
  max-height: 365px;
}
.projects-img {
  margin-left: -1em;
}
.carousel-indicators {
  bottom: -60px;
}
.carousel-indicators li {
  background-color: #828c9e;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
.carousel-indicators .active {
  background-color: #17304a;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #828c9e;
  background-size: 100%, 100%;
}
.testimonies-img {
  max-width: 200px;
}
@media only screen and (max-width: 745px) {
  #main-header {
    background: url('../img/headerimg.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -10;
  }
  .quote-sm {
    display: flex;
    justify-content: space-around;
  }
  .quote2 {
    display: block;
  }
  .overlay {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
  }
  .card-size {
    max-width: none !important;
  }
  .project-box {
    display: block !important;
  }
  .carousel-size {
    max-height: 860px;
  }
  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }
  .customers {
    margin-bottom: 5em;
  }
}
